.gauge-container {
  width: auto;
  height: auto;
  display: block;
/* float: left; */
  padding: 10px;
  overflow: hidden;
}
.gauge-container.one > .gauge > .dial {
  stroke: #345;
  stroke-width: 2;
}
.gauge-container.one > .gauge > .value {
  stroke: #2fe3ff;
  stroke-width: 2;
}
.gauge-container.one > .gauge > .value-text {
  fill: #2fe3ff;
  font-family: sans, 'sans-serif';
  font-weight: bold;
  font-size: 0.6em;
}
.gauge-container.two {
  height: auto;
  border: 1px solid rgba(255,255,255,0.1);
}
.gauge-container.two > .gauge > .dial {
  stroke: #345;
  stroke-width: 10;
}
.gauge-container.two > .gauge > .value {
/*stroke: orange;*/
  stroke-dasharray: none;
  stroke-width: 13;
}
.gauge-container.three > .gauge > .dial {
  stroke: #345;
  stroke-width: 2;
/*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value {
  stroke: #c9de3c;
  stroke-width: 5;
/*stroke-dasharray: 125, 20;*/
}
.gauge-container.three > .gauge > .value-text {
  fill: #c9de3c;
}
.gauge-container.four > .gauge > .dial {
  stroke: #345;
  fill: "#334455";
  stroke-width: 5;
}
.gauge-container.four > .gauge > .value {
  stroke: #be80ff;
  stroke-dasharray: none;
  stroke-width: 5;
}
.gauge-container.four > .gauge > .value-text {
  fill: #be80ff;
}
.gauge-container.four .text-container {
  transform: translate3d(-13%, -11%, 0);
}
.gauge-container.five .text-container {
  transform: translate3d(0, 7%, 0);
}
.gauge-container.five > .gauge > .dial {
  stroke: #345;
  fill: "#334455";
  stroke-width: 5;
}
.gauge-container.five > .gauge > .value {
  stroke: #f8774b;
  stroke-dasharray: none;
  stroke-width: 5;
}
.gauge-container.five > .gauge > .value-text {
  fill: #f8774b;
  font-size: 0.7em;
}
.gauge-container.six > .gauge > .dial {
  stroke: #345;
  fill: "#334455";
  stroke-dasharray: 110 10;
  stroke-width: 5;
}
.gauge-container.six > .gauge > .value {
  stroke: #ff6daf;
  stroke-dasharray: 10 1;
  stroke-width: 5.2;
}
.gauge-container.six > .gauge > .value-text {
  fill: #ff6daf;
  font-size: 0.7em;
}
body {
  background: #387fc1;
}
.border.border-main {
  border-color: #387fc1 !important;
}
.text-main {
  color: #387fc1;
}
.bg-lightblue {
  background: #d0e4f7;
}
.legend {
  text-transform: uppercase;
}
.input-field>label {
  color: #000;
  padding-left: 5px;
}
.input-field>label:not(.label-icon).active {
  transform: translateY(-16px) scale(0.8);
}
input[type="text"]:not(.browser-default),
textarea.materialize-textarea,
input[type="number"]:not(.browser-default) {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
}
input[type="text"]:not(.browser-default):focus,
textarea.materialize-textarea:focus,
input[type="number"]:not(.browser-default):focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
textarea.materialize-textarea {
  resize: vertical !important;
}

label, legend, span {
  font-family: Times, serif;
  font-variant: small-caps;
}